tensorflow==1.7.0
scipy==1.1.0
scikit-learn
opencv-python
h5py
matplotlib
Pillow
requests
psutil
torch==1.5.1
torchvision
numpy
imageio
imageio-ffmpeg
pyyaml 
tqdm
argparse
cython
scikit-image 
onnxruntime
albumentations==0.5.2
cnn-finetune==0.6.0
git+git://github.com/jrosebr1/color_transfer
