tensorflow==1.7.0
scipy==1.1.0
scikit-learn
opencv-python
h5py
matplotlib
Pillow
requests
psutil
torch
torchvision
numpy
imageio
imageio-ffmpeg
pyyaml 
tqdm
argparse
cython
scikit-image 
onnxruntime
git+git://github.com/jrosebr1/color_transfer
